    <style>
        :root {
    	    font-family: 'Inter', sans-serif;
        }
        
        @supports (font-variation-settings: normal) {
        	:root {
        		font-family: 'Inter var', sans-serif;
        	}
        }
        
        a {
        	color: white;
        }
        
        h1, h2, h3, h4, h5 {
        	text-decoration: underline;
        }
        
        h1 {
        	text-align: center;
        }
        
        #footer {
        	text-align: center;
        	font-size: 75%;
        }
        
        body {
        	background-color: rgb(24, 26, 27);
        	color: rgb(225, 223, 219);
        	margin-left: 5em;
        	margin-right: 5em;
        }
        
        #line_break {
        	visibility: hidden;
        	margin: 0.5em;
        }
        
        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 50px;
            width: 100%;
            overflow: hidden;
        }
	</style>
